body{
    background-color: black;
    color: rgb(105, 221, 105);
    font-family:'Courier New', Courier, monospace;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 25px;
    margin: 0;
    font-size: 16px;
}
h1{
    line-height: 38px;
    font-size: 50px;
}
p{
    color:  rgb(70, 210, 70);
    line-height: 35px;
}

#header h1{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 50px;
}
#header p{
    margin: 0;
    margin-top: 20px;
    font-size: 25px;
}
#options{
    float:left;
    width: 25%;
    min-width: 400px;
    margin: 5px;
    font-size: 25px;
}
ul{
    width: fit-content;
    margin:0;
    padding:0;
}
#options li{
    padding-top: 20px;
}

#side_bar{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    /* min-width: 300px;
    max-width: 450px; */
    color: white;
    padding: 35px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    float: right;
    font-size: 18px;
}

#stylesheets, #no_styles{
    clear: both;
    padding-top: 4px;
}

#side_bar h1{
    font-size: 30px;
}
#stylesheets p, #no_styles p{
    padding-top: 10px;
    margin: 0;
    font-size: 25px;
}

#footer{
    text-align: center;
    color: white;
    margin-top: 30px;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 20px;
    margin-bottom: 150px;

}

#side_bar p{
    color: white;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgba(61, 229, 61, 0.863);
}
a:hover{
    color: rgba(61, 229, 61, 0.863);
}

#stylesheets a, #no_styles a{
    text-decoration: underline;
    color: white;
}
#stylesheets a:hover, #no_styles a:hover{
    color: rgba(61, 229, 61, 0.863);
}

#options li:hover{
    color:white;
}

#options #active{
    color:white;
}

#video{
    margin-top: 10px;
    float: left;
    width: 30%;
}
#video iframe{
    border-radius: 30px;
    height: 300px;
    width: 100%;
}

::-webkit-scrollbar{
    width: 20px;
 }
 ::-webkit-scrollbar-thumb{
    height: 2px;
    background: rgba(255, 253, 255, 0.159);
    border-width: 2.8px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;

 }
 ::-webkit-scrollbar-track{
    background: linear-gradient(141deg, #1ba732 0%, #f8f8f8 51%, #15a100 75%);
    border-radius: 10px;
 }